.taskItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border: 1px solid black;
}

.taskItem__expired {
  border-color: red;
}

.taskItem_title__expired {
  color: red;
}

.taskItem__done {
  border-color: green;
}

.taskItem_title__done {
  color: green;
}

.taskItem_controls {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
